<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>sortcountrystates</name>
	<displayName><![CDATA[SortCountryStates]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Sort by name the states of selected country on address.]]></description>
	<author><![CDATA[rembertoloanny@gmail.com]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
